<!DOCTYPE html>
<html>
<head>
  <title>Lsapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <h1>LSApp</h1>
  <%= render 'home/menu' %>
  <hr />
  
  <div id='flash_notice'><%= flash[:notice] %></div>
  <div id='flash_alert'><%= flash[:alert] %></div>
  
  <p>
    <%= yield %>
  </p>
  
</body>
</html>
